<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Iniciar Sesion
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form action="">
        <ion-label>Nombre de Usuario</ion-label>
        <ion-input></ion-input>
        <hr>
        <ion-label>Contraseña</ion-label>
        <ion-input type="password"></ion-input>
        <hr>
      </form>
      <ion-button [routerLink] = "['/listar']">Iniciar</ion-button>
      <a [routerLink] = "['/']"> Ir a Registrar</a>
    </ion-card-content>
  </ion-card>
</ion-content>
